html, body {
    min-width: 252px;   
    width: auto;
}

#cb_messages {
    font-family: Tahoma             
}

#cb_messages date.date {
    display: block; 
}

#cb_messages .system,
#cb_users .system {
    font-style: italic;
}

#cb_messages .system.error {
     color: #A94442;
}

#cb_messages .system.log, 
#cb_messages date.date,
#cb_users .system.info {
    text-align: center;
}

#cb_messages date, 
#cb_messages .system.info,
#cb_users .system.info,
#cb_messages .system.log {
    color: #A8A8A8;
}

#cb_messages .user .name,
#cb_users .user .name {
    font-weight: bold;
    
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cb_messages .user .name {
    width: 100px;
    text-align: right;
    float: left;
}

#cb_users .user .name {
    padding-left: 10px;
}

#cb_messages .user .message,
#cb_messages .system.info,
#cb_messages .system.error {
    display: block;
    margin-left: 100px;
}

#cb_messages .user date,
#cb_messages .system date {
    float: right;
    font-style: normal;
}

#cb_messages hr,
#cb_users hr {
    margin: 5px 0;
}

#cb_messages p {
    margin: 0;
}

@media (max-width: 360px) {
    #cb_messages .system.info,
    #cb_messages .system.error {
        margin-left: 0;
    }
}